<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help Page</title>
    <meta charset="utf-8">
    <link rel="icon" href="./favicon.ico" type="image/icon type">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;            
            font-family: 'Itim', monospace;
            background-color:#673AB7;
            color:#FFC107;
            font-size: 20px;
        }

        .board {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            height: 20rem;
            width: 60%;
            background-color: rgba(125, 255, 325, 0.48);
            border-radius: 0.45rem;
            transform: scaleY(1);
            box-shadow: 0px 0px 8px #33ffff;
        }

        .body {
            font-size: 17px;
        }
        @media (max-width: 1000px) {
            body {
                font-size: 20px;
                line-height: 22px;
            }
            .board {
                height: 25rem;
            width: 70%;
            }
        }
    </style>
</head>

<body>
    <div class="board">
        <div class="bhead">
            <span>Happy Birthday Greeting site</span>

        </div>
        <div class="bbody">
            <span>To use this service what you have to do is that in the website url that is
                'happyborthday.herokuapp.com', you have to add '/name=' followed by the name of the person you are
                sending your wishes to at the end of the url.<br>Like if I am greeting myself(sad music plays in the
                background), I will type: <b>"happyborthday.herokuapp.com<u>/name=Adwait-Narayan-Pradhan</u>"</b> and then send it to
                myself(sad music intensifies).</span>

        </div>
        <div class="bfoot">
            <span>With love from the maker<br>💜 Adwait Narayan Pradhan 💜<br>Check the Code <a
                    href="https://github.com/AdwaitNPradhan/happybirthday-app" target="_blank">here</a></span>

        </div>
    </div>
</body>

</html>
